@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,700);

* {
   border:none;
   font-family:'Signika Negative', sans-serif;
   margin:0;
   padding:0;
}

#canvas {
   background-color:#284;
   height:100%;
   width:100%;
}

#brand {
   background:rgba(0,0,0,0.25);
   height:50px;
}

#brand span {
   border-top:3px solid rgba(0,0,0,0.25);
   display:block;
   padding:3px;
   width:100%;
}

#brandlink {
   color:#FFF;
   font-size:18px;
   letter-spacing:2px;
   line-height:34px;
   margin:0 10px;
   text-decoration:none;
   text-shadow:-1px -1px 1px #000;
   text-transform:uppercase;
}

#color {
   height:100%;
   margin:0 auto;
}

#color p {
   font-size:28px;
   line-height:48pt;
   position:absolute;
   text-align:center;
   top:45%;
   width:100%;
}

.dark {
   color:#FFF;
}

.light {
   color:#000;
}

#brandlink:hover {
   border-bottom:1px dotted #FFF;
   border-top:1px dotted #FFF;
}

#abouts {
   background-color:rgba(0,0,0,0.5);
   bottom:0;
   height:50px;
   letter-spacing:3px;
   position:absolute;
   width:100%;
}

#abouts a {
   color:#FFF;
   font-size:22px;
   left:89%;
   opacity:0.25;
   position:relative;
   text-decoration:none;
   text-shadow:1px 1px 1px #000;
   top:13px;
}

#abouts a:hover {
   opacity:1;
}